.header-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 7%;
  height: fit-content;
}
.information-link {
  border-bottom: 2px solid #000000 ;
}
.logo-image {
  width: 26px;
  height: 26px;
}
.title-logo {
  font-weight: 600;
  margin: 0 10px;
  font-family: "Medium";
}
.logo-container {
  display: flex;
  cursor: pointer;
}

.link-header {
  display: flex;
  list-style: none;
  text-align: center;
}

.link-header li {
  margin: 0 20px;
}
.link-header li a{
  font-family: "Medium";
  color: #000000;
  text-decoration: none;
}

.icon-container a{
  color: #000000;
  margin: 0 10px;
  text-decoration: none;
}

.link-in-auth {
  font-family: "Medium";
  color: #000000;
  text-decoration: none;
}

/* menu */
#menu {
  display: none;
}

.logo-container label {
  display: none;
}

/* media */

@media screen and (max-width: 750px){
  .logo-image {
    width: 20px;
    height: 20px;
  }
  .link-header{
    display: none;
  }
  .icon-container {
    display: none;
  }
  .link-in-auth {
    background-color: #FF52BA;
    border-bottom: 3px solid ;
    padding: 6px 20px;
  }
}