.container-main {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-main {
  font-family: "Bold";
  font-size: 80px;
  opacity: 0.8;
  margin-bottom: 20px;
  color: #464646;
  text-transform: uppercase;
}
.description-main {
  font-family: "Regular";
  font-size: 20px;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #3B3B3B;
}

.button-main {
  background-color: #FF52BA;
  border: none;
  color: #000000;
  padding: 10px 20px;
  font-family: "Bold";
  cursor: pointer;
  text-decoration: none;
}

.button-main:hover {
  background-color: #000000;
  color: #fff;
}

@media screen and (max-width: 750px) {
  .container-main{
    display: none;
  }
}